<header class="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div class="logo">
                            <h2><a href="{% url 'home' %}">Classic</a></h2>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="menu">
                            <ul>
                                <li><a href="{% url 'home' %}">Home</a></li>
                                {% for item in categories %}
                                <li><a href="{% url 'category' item.slug %}">{{ item.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>